<section class="banner__container">
    <div class="banner__content">
        <div class="section__badge">SECCIÓN</div>
        <h2 class="section__title">Diseñado para la realidad del quirófano</h2>
        <p class="section__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a odio 
            neque. Quisque vehicula urna massa, id accumsan dui vulputate a. Fusce 
            molestie turpis nulla, ut dignissim ipsum mattis volutpat.
        </p>
        <img src="./assets/img/nv_mobile.png" alt="" class="banner__img">
    </div>
</section>