<footer class="container-flex">
    <img src="./assets/img/nv_logo-w.png" alt="" width="75" height="66">
        <header class="section__header">
            <h2 class="section__title">Contacto y redes</h2>
            <p class="section__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a odio neque. Quisque vehicula urna massa, id accumsan dui vulputate a. Fusce molestie turpis nulla, ut dignissim ipsum mattis.
            </p>
        </header>

    <div class="btn__container">
        <a href="#" class="btn__primary">Prueba Gratuita</a>
        <a href="#" class="btn__secondary">Programar Demo</a>
    </div>

    <div class="footer-divider"></div>

    <div class="social-links">
        <a href="#" class="social-link linkedin" aria-label="LinkedIn"></a>
        </div>
</footer>
<div class="footer-bottom">
    <div class="footer-bottom-container">
        <p class="disclaimer">
            <strong>Disclaimer:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a odio neque.
        </p>
    </div>
</div>