<div class="container-grid">
        <!-- Main Content Section -->
        <div class="main__content">
            <div class="section__badge">SECCIÓN A</div>
            <h1 class="section__title">Solución integral</h1>
            <p class="section__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a odio neque. 
                Quisque vehicula urna massa, id accumsan dui vulputate a. Fusce molestie turpis 
                nulla, ut dignissim ipsum mattis.
            </p>
            
            <!-- Chart Placeholder -->
            <img src="./assets/img/nv_screen-03.png" class="process__img">
            
            <!-- Pagination Dots -->
            <nav class="pagination-dots">
                <div class="dot"></div>
                <div class="dot active"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </nav>
        </div>

        <!-- Sidebar -->
        <aside class="sidebar">
            <h2 class="sidebar__title">Proceso</h2>

            <!-- Steps List -->
            <section class="sidebar__stepper">
                <div class="sidebar__step">
                    <div class="step__bullet">✓</div>
                    <div class="step-content">
                        <div class="step__prefix">STEP 1</div>
                        <div class="step__title">Basic Details</div>
                    </div>
                </div>
                <div class="sidebar__step">
                    <div class="step__bullet">✓</div>
                    <div class="step-content">
                        <div class="step__prefix">STEP 1</div>
                        <div class="step__title">Basic Details</div>
                    </div>
                </div>
                <div class="sidebar__step">
                    <div class="step__bullet">✓</div>
                    <div class="step-content">
                        <div class="step__prefix">STEP 1</div>
                        <div class="step__title">Basic Details</div>
                    </div>
                </div>
                <div class="sidebar__step">
                    <div class="step__bullet">✓</div>
                    <div class="step-content">
                        <div class="step__prefix">STEP 1</div>
                        <div class="step__title">Basic Details</div>
                    </div>
                </div>
                <button class="btn__primary ">Solicitar demo</button>
            </section>
        </aside>
    </div>